In [ ]:
# Run this cell
from datascience import *
import numpy as np

## Review of Tables ##

In [ ]:
# Load Table. Don't worry about code yet. 
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

In [ ]:
#Remember select allows us to make a new table with only selected columns
#Select name and height

In [ ]:
#Similarly, drop allows us to drop columns that have been selected

In [ ]:
#Since we did not save the new tables to a name we still have the original table

In [ ]:
# Find all the sky scrappers in Chicago

In [ ]:
# Depending on the condition we must change columns to change attributes that are filtered
# for example how would you make a table that contains skyscrappers that ar made of steel

In [ ]:
#Finally let's find the skyscrappers that are in Chicago and sort by when they 
#were completed

## Numbers ##

In [ ]:
20  # int

In [ ]:
20 / 3  # float

In [ ]:
20 / 2  # also a float

In [ ]:
# Is the following an int or a flpat
1234 ** 5

In [ ]:
# Integers in python are allowed to be of dynamic length
# Integers can more or less grow as long as you need
data = 123456789 ** 1234

In [ ]:
# On the other hand floating point numbers can only handle decimal places up to 18 sig figs
4 / 700

In [ ]:
4 / 700000000000000000

In [ ]:
#
0.12345678901234567890123456789

In [ ]:
# If you use more then 18 sig figs then pyton will produce operator error
# Small rounding errors are often confusing when first encountered.

0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
# combining float values with arithmetic, the last few digits may be incorrect.
# For example if we take the square root of 10 we get float representation
# if we then square it, we get our orginal number with a  small error

In [ ]:
# We can convert a float to an integer using the int function

In [ ]:
# int takes a floating point number and returns the int

In [ ]:
# Caution. If you typecase a float that has a non empty decimal place, this information is lost. 
# changing the value

In [ ]:
# We can convert from an integer to a float 
# This never loses information!

## Strings ##

In [ ]:
# An example of a string

In [ ]:
# An example with ""

In [ ]:
# An example with '' and a ' which causes an error

In [ ]:
# We can add two strings together

In [ ]:
#String concation is literal. Meaning it glues each string consequentively to the previous one

In [ ]:
#Strings are objects with special functions like tables 
#For example we can change a letters to uppercase with stringname.upper()

In [ ]:
#Another special function that only works on strings is replace. It
# takes a indicated substring and replaces it with a string of your choice

In [ ]:
#Rember these special functions can also work on names of the strings

In [ ]:
# We are can convert an integer represented as a string using int.
# It must be an int or we get an error

In [ ]:
# We can do these same for a float that is represented as a string using float

In [ ]:
#In the other direction we can convert any numerical value into a string

In [ ]:
#
#Ints and Floats can be used to do operations like additon and subtraction
#

#
#Strings can cancatenate with other strings
#

#
#But operations between strings and numerical values will cause errors! 
#


## Types ##

In [ ]:
#Lets try out type
# what is the type of 10

In [ ]:
# what is the type of a = 10
a = 10

In [ ]:
#what is the type of 4.6

In [ ]:
type('abc')

In [ ]:
# what is the type of skyscrapers?

In [ ]:
# what about abs value function

## Comparisions

In [ ]:
# We can compare numbers, just like normal math

In [ ]:
# Its possible to check whether two strings are equal

In [ ]:
#At times its also useful to check whether two strings are not equal

In [ ]:
# Strings can also be compared, and their order is alphabetical. 
#A shorter string is less than a longer string that begins with the shorter string.

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
len(my_array) / sum(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
sum(my_array)

In [ ]:
np.average(my_array)

In [ ]:
len(my_array)

## Columns of Tables are Arrays ##

In [ ]:
sf = skyscrapers.where('city', 'San Francisco')
sf

In [ ]:
sf.select('height')

In [ ]:
sf.column('height')

In [ ]:
np.average(sf.column('height'))