In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections at hand so that you can go over the discussion along with the code. Thank you!

In [ ]:
#Control+enter runs a cell 
#expressions are any single line of code

## Python ##

In [ ]:
# We can add numbers

In [ ]:
# We can multiple numbers

In [ ]:
# python can divide numbers

In [ ]:
# It must follow the order of operations: PEMDAS

In [ ]:
# There is a difference of operations

In [ ]:
# two to the power of four: 2 * 2 * 2 * 2

In [ ]:
#string type 
'hello'

## Names ##

In [ ]:
# we can declare a variable

In [ ]:
# and call it

In [ ]:
# declare another variable

In [ ]:
# call it again

In [ ]:
# the variable represents the number that it stores

In [ ]:
# for example a plus b is

In [ ]:
# the total is a +b

In [ ]:
# lets redefine a and the try the operation again

In [ ]:
# the total has not updated because we have not re-evaluated the total line. Python only understands what happens sequentially

In [ ]:
# now call the new assignment now that a has changed

In [ ]:
# the new total is ...

In [ ]:
'total'

### Why Names?

In [ ]:
# variables allow us to save information
# by naming variables relevant names we can manipulate data
# for example suppose we have hours per week and weeks per year
# and we want to find the number of hours worked per year

hours_per_week = ...
weeks_per_year = ...

In [ ]:
# lets multiply them together and get the the hoours per year

hours_per_year = ...

In [ ]:
hours_per_year

In [ ]:
# Minimum wage for businesses w/26 or more employees
# Goes up by $1/hr until 2022
# lets calculate how much we would make in a year

ga_hourly_minimum_wage = 5.15

In [ ]:
# first we will caclulate the pay in a week
weekly_wages = ...
weekly_wages

In [ ]:
# then we will calculate the pay in a year
yearly_wages = ...
yearly_wages

In [ ]:
# lets check

In [ ]:
# they match

## Functions and Call Expressions

In [ ]:
# Python also has built in functions that we use and introduc throughout the semester
# for example we have the absolute value function abs
# the input is any number the output is the absolute value

#abs(argument)
#input : integer
# output : absolute value

In [ ]:
# We can compose this function with operations

In [ ]:
# for example suppose we wanted the difference between the day and night tempartures
# lets make up some numbers for these times
# then

In [ ]:
# in the slides we saw the max function, but there is also a min function that returns the 
# smallest value between numbers

## Tables ##

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
# with select we can pick out columns from are table

In [ ]:
# we can select more then one column

In [ ]:
# However the labels must be a string otherwise, we obtain errors

In [ ]:
# Alternatively we are able to drop tables with the drop method.

In [ ]:
# Nothing has happened to the orginal table! Because we did not save any updates to a name
cones

In [ ]:
# Lets drop the price column and save the resulting table

In [ ]:
# Finally we are able to identify specfic indivuals with a certion 
# characteristic using where

# for example lets find only the icream that is a chocolate flavor

In [ ]:
# The last function we will introduce today is sort. 
# At times it is useful to order numerical data. 
# in this case if we have a table we are able to do so using sort. 

#Sort sorts data from highest to lowest where you indicate the price
# For example lets sort the icream from lowest price to highest price

In [ ]:
# If we are sorting from highest to lowest, we must include the following extra argument
#sort('column_name',descending = True)

### A more interesting table

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

# Here we have a data set of skyscrappers in the USA
# Lets finf the largest skyscrapper in Altanta