In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 7 ##

## Census ##

In [ ]:
# Here is the census data we where looking at last time

full = Table.read_table('nc-est2014-agesex-res.csv')
full

In [ ]:
#Lets rederive the columns we want
# SEX, AGE, POPESTIMATE2010, POPESTIMATE2014

In [ ]:
# Make things easier to read
# by relabeling the wordy columns

**Question**: Is SEX a numerical attribute or a catergorical attribute? 

**Question** Is AGE a numerical data type or a catergorical data type?

**Question** What does a row represent in this table?

In [ ]:
#Lets Remove the total population 999 rows


# Why is there more total indivuals that are 100 then those that are 99?

In [ ]:
#Lets now compare the ratio of men and women over time from 2010

In [ ]:
# To find the ratio of men to women take the respective columns and divide

In [ ]:
# Lets make a new table! 
# Question: What should be the columns of are table?

## Line Plots ##

In [ ]:
# Lets use a line graph to study the population size as age increases!
# Intuitively we should except that as age increases, population decreases
# Remove the age totals
remove_999

In [ ]:
# Remove male and female (keep only combined)

In [ ]:
#Now lets plot it as a line graph

In [ ]:
everyone.plot('AGE', '2010')
plots.title('US Population');    # <--- OPTIONAL; not needed for Data 8

In [ ]:
# Remeber Scatter plots are used for sequential data! Like age or distance

## Scatter Plots ##

In [ ]:
# Scatter plots are used for non-sequential data
# Its really import when we are looking for associations
# When we reach linear regression we will be able to 
# numberically judge assocations

In [ ]:
# Lets look how to find an association
# Actors and their highest grossing movies
actors = Table.read_table('actors.csv')
actors

**Question** What does a row represent?

**Question** What type of attribute is the average per movie?

**Question** What type of attribute is the #1 movie?

In [ ]:
# The relationship that we want to explore is between the number of movies 
# an actor makes and the total amount of money they grossed

#Lets look at the scatter plot



# Here we see an associtaion. 
# As the number of movies increase, the total gross increases
# This does not hold for every actor but is mostly true

In [ ]:
#Lets look at at another relation
# What about number of movies per average per movie 

# what are we trying to look at ? 
# well average per movie is found by taking total gross and dividing by
# number of movies. So the more movies an actor starred in the lower the 
#average


#lets graph it with number of movies as the x-axis

In [ ]:
# lets find the actor who is the outlier! 
#

## Bar Charts ##

In [ ]:
# Highest grossing movies as of 2017
top_movies = Table.read_table('top_movies_2017.csv')
top_movies

In [ ]:


#Here we have a table of all top movies up to 2017
# Lets find the top 10 grossing files

In [ ]:
# Convert to millions of dollars for readability