In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lecture 11 #

## Apply

In [ ]:
galton = Table.read_table('galton.csv')
galton

In [ ]:
def predict(h):
    nearby = galton.where('midparentHeight', are.between(h - 1/2, h + 1/2))
    return nearby.column('childHeight').mean()

In [ ]:
predicted_heights = galton.apply(predict, 'midparentHeight')
predicted_heights

In [ ]:
galton = galton.with_column('predictedHeight', predicted_heights)

In [ ]:
# Then applying scatter to midparentheight
galton.select(
    'midparentHeight', 'childHeight', 'predictedHeight').scatter('midparentHeight')

## Prediction Accuracy ##

In [ ]:
#lets check how accurate our prediction is 
# by looking at the difference between the predicted height 
# and the actual height

In [ ]:
# us apply and difference and add to the table

In [ ]:
# Here is our error table

In [ ]:
# Lets look at the distribution of our errors
# hint: numerical distibution

## Lists

In [ ]:
simple_list = ['hello', 7, 3.14, True]
simple_list

In [ ]:
my_array = make_array(1, 2, 3)

crowded_list = [my_array, 'what is going on', -10]
crowded_list

In [ ]:
Table().with_columns('Numbers', [1, 2, 3])

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

In [ ]:
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

## Grouping by One Column ##

In [ ]:
cones = Table.read_table('cones.csv')

In [ ]:
cones

In [ ]:
# Group finds the catergorical distribution!

In [ ]:
#Also group has optional argument that applies a function to all values in 
# categorical variable

# for example lets group by flavour and find the average of each flavor

In [ ]:
# This time drop the color column and find the min of each flavor

## Grouping by one column: Survey

In [ ]:
# Group allows us to 
# 1. find categorical distribution
# 2. find characteristic of each category


survey = Table.read_table('welcome_survey_v2.csv')
survey

In [ ]:
# We can find the average of the extraversion, number of textees and sleep 
# by grouping with respect to year

In [ ]:
# What if we wanted to look at the connection between extraversion
# and number of textees? 

# Lets group and find the average

## Cross-classification: grouping by two columns

In [ ]:
#group method also allows us to classify individuals according to more then 
# one categorical variable
survey = Table.read_table('welcome_survey_v4.csv')

# For example lets look at the groups defined by Handedness 
# and Sleep position 

# Theres 3 possible ways to be handed
# 4 ways to sleep

In [ ]:
#Pivot tables make it easier to work with data 
#that have been classified according to two variables

# Lets try to classify our groups again using a pivot table



#Pivot differs from group because it organizes the resulting
#values in a grid.

In [ ]:
# The optional argument allows us to apply a function to a numerical 
# variable and disply the result for each group

# lets find the average sleep for each member set in sleep position and
# handedness

In [ ]:
#compare same data versus grouping

#first get table with only 'Handedness', 'Sleep position', 'Hours of sleep'

#then group with respect to 'Handedness', 'Sleep position' and apply 
# average with the group method

ok=survey.select('Handedness', 'Sleep position', 'Hours of sleep')

## Challenge Question ##

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2020 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

In [ ]:
# 1. For each city, what’s the tallest building for each material?

In [ ]:
# 2. For each city, what’s the height difference between the tallest 
#    steel building and the tallest concrete building?